[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
docker = "*"
redis = "*"
python-dotenv = "*"
routeros-api = "*"

[requires]
python_version = "3.7"
